:root {
    --primary: #ffffff;
    --secondary: #b12f61;
    --tertiary: #3331b8;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
  }


  header {
    background-color: var(--secondary);
    height: 150px;
  }

  header h1 {
    text-align: center;
    padding-top: 40px;
    width: 100%;
    margin: auto;
    font-size: 50px;
    color: var(--primary);
  }

.flex-wrap {
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}